.auth {
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.authTitle {
  font-size: 50px;
}

.authForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.authForm > label {
  margin: 10px 0;
}

.authInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.authInput:focus {
  outline: none;
}

.authButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}
