/* .userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


  .userProfileInfo{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-bottom: 20px;
    flex: 6;


   .userImg{
    margin-right:20px;
   }

   .userInfo{

    
   }
  }

  .countInfo{
    flex: 2;

  }

  .editProfileAndUploadPost{
    flex: 2;

    
  }

   .navbarProfile{
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
    flex-direction:row;
    flex: 2;

    
    
   }
}

.userProfileWrapper:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  flex-direction: column;
  align-items: flex-start
}

*/

.userProfileWrapper:first-child {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.userName {
  font-family: "IBM Plex Sans", SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.userEmail {
  font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC,
    sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.countInfo {
  padding: 0px;
}

.buttonEditProfile,
.buttonUploadPost {
  width: 100%;
  height: 40px;
  /* min-width: 50px; */
  /* margin-right: 10px; */
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgba(66, 184, 131, 0.6);
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.buttonEditProfile:hover,
.buttonUploadPost:hover {
  background-color: rgba(20, 189, 113, 0.6);
}

.buttonEditProfile:active,
.buttonUploadPost:active {
  background-color: rgba(117, 216, 172, 0.6);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(4px);
}

.navbarProfileItem {
  font-family: "IBM Plex Sans", SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 18px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  color: rgba(22, 24, 35, 0.5);
  width: 150px;
  min-width: 70px;
}

.isActive {
  border-bottom: 2px solid black;
  color: black;
}
